.grad-pinot-noir {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grad-dimigo {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlapped {
    margin-top: -60px;
}

.person {
    margin: 24px;
}
.person .person-image img {
    border-radius: 100%;
    width: 128px;
    height: 128px;
}

.person .person-name {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}