/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 24px;
  height: 24px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
